Source: xcb-util-cursor
Priority: optional
Maintainer: Jakob Haufe <sur5r@debian.org>
Build-Depends: debhelper-compat (= 13),
Build-Depends-Arch: autoconf,
                    automake,
                    libxcb-image0-dev,
                    libxcb-render-util0-dev,
                    libxcb1-dev,
                    pkgconf,
                    xutils-dev,
Rules-Requires-Root: no
Standards-Version: 4.6.2
Section: libs
Homepage: http://xcb.freedesktop.org/
Vcs-Git: https://salsa.debian.org/debian/xcb-util-cursor.git
Vcs-Browser: https://salsa.debian.org/debian/xcb-util-cursor

Package: libxcb-cursor-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libxcb-cursor0 (= ${binary:Version}),
         libxcb-image0-dev,
         libxcb-render-util0-dev,
         libxcb-render0-dev,
         libxcb1-dev,
         ${misc:Depends},
Description: utility libraries for X C Binding -- cursor, development files
 This package contains the header and library files needed to build software
 using libxcb-cursor, providing port of Xlib's libXcursor functions.
 .
 The xcb-util module provides a number of libraries which sit on top of libxcb,
 the core X protocol library, and some of the extension libraries. These
 experimental libraries provide convenience functions and interfaces which make
 the raw X protocol more usable. Some of the libraries also provide client-side
 code which is not strictly part of the X protocol but which have traditionally
 been provided by Xlib.

Package: libxcb-cursor0
Architecture: any
Pre-Depends: ${misc:Pre-Depends},
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: utility libraries for X C Binding -- cursor
 This package contains the library files needed to run software using
 libxcb-cursor, providing port of Xlib's libXcursor functions.
 .
 The xcb-util module provides a number of libraries which sit on top of libxcb,
 the core X protocol library, and some of the extension libraries. These
 experimental libraries provide convenience functions and interfaces which make
 the raw X protocol more usable. Some of the libraries also provide client-side
 code which is not strictly part of the X protocol but which have traditionally
 been provided by Xlib.
